<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.a.mapper.AllbecollectedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzy.a.entity.Allbecollected">
        <id column="collectedvideoid" property="collectedvideoid" />
        <id column="folderid" property="folderid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collectedvideoid, folderid
    </sql>

</mapper>
