<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.a.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzy.a.entity.Video">
        <id column="videoid" property="videoid" />
        <result column="authorid" property="authorid" />
        <result column="videoname" property="videoname" />
        <result column="videopath" property="videopath" />
        <result column="videoseconds" property="videoseconds" />
        <result column="coverpath" property="coverpath" />
        <result column="likescount" property="likescount" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
        <result column="tag" property="tag" />
        <result column="category" property="category" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        videoid, authorid, videoname, videopath, videoseconds, coverpath, likescount, status, createtime, tag, category, description
    </sql>

</mapper>
